.main_single_post{
  position: relative;
  top: -150px;

  .single_post_cover{
    height: 470px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .badge-category{
      padding: 10px 15px;
      font-size: 12px;
      letter-spacing: -0.12px;
      color: #FFFFFF;
      opacity: 1;
      text-transform: uppercase;
      font-weight: 600;
    }

    h1{
      width: 50%;
      text-align: left;
      font-size: 40px;
      font-weight: 600;
      letter-spacing: -1.2px;
      color: #0C60B0;
      opacity: 1;
    }

    .single_post_date_comments{
      height: 50%;
      text-align: left;
      font-size: 16px;
      letter-spacing: 0px;
      color: #898787;
      opacity: 1;
      font-weight: 600;
    }

    @media (max-width: 550px){
      h1{
        width: 100%;
      }
      .single_post_date_comments{
        height: auto;
      }
    }

  }

  .single_post_content{
    margin-top: 105px;

    article{
      h2{
        font-size: 30px;
      }
      h3, h4, h5, h6{
        font-size: 20px;
      }
      p{
        text-align: left;
        font-size: 16px;
        letter-spacing: 0px;
        color: #5a5858;
        opacity: 1;
      }
      a{
        text-decoration: none;
        color: #898787;
      }
      a:hover{
        box-shadow: inset 0 -5px 0 rgba(90, 88, 88, .8);
      }
      img{
        width: 100%;
        height: auto;
        margin: 30px 0;
      }
    }

    .post_content_share_comments{
      margin-top: 80px;
    }

    .post_content_prev_next{

      position: relative;

      .post_content_line{
        position: relative;
        width: 75%;
        border-top: 1px solid #a5a4a4;
        float: left;
        right: calc(66px + 30px);
        top: 1.5px;
      }
      .post_content_line.line_right{
        float: right;
        left: calc(66px + 30px);
      }

      @media (max-width: 550px){
        .post_content_line,
        .post_content_line.line_right{
          display: none;
        }
      }

      .line_prev{
        background-color: #C4112F;
        width: 66px;
        height: 2px;
        display: block;
        margin-bottom: 25px;
      }
      .line_next{
        background-color: #0F4478;
        width: 66px;
        height: 2px;
        display: block;
        margin-bottom: 25px;
      }

      span{
        font-size: 16px;
        letter-spacing: 0px;
        color: #898787;
        opacity: 1;
      }
      h2{
        width: 90%;
        font-size: 28px;
        letter-spacing: -0.84px;
        color: #5A5858;
        font-weight: 600;
      }

      @media (max-width: 550px){
        h2{
          font-size: 22px;
        }
      }

    }
  }
  .post_content_prev_next::before{
    content: '';
    width: 1px;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: rgb(165, 164, 164);
    -webkit-transform: translatey(-50%);
    -ms-transform: translatey(-50%);
    -moz-transform: translatey(-50%);
    -o-transform: translatey(-50%);
    transform: translatey(-50%);
  }

}
