.main_form_search{

  input{
    border-radius: 30px;
    background-color: #EBEBEB;
    height: 60px;
    padding: 22px;
    font-size: 18px;
    color: #5A5858;
    letter-spacing: -0.18px;
    border-right: none;
    font-weight: 600;
  }
  button{
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    background-color: #EBEBEB;
    border-left: none;

    i{
      color: #0B5FAD;
      font-size: 23px;
      margin-right: 23px;
    }
  }

  input:hover,
  input:active,
  input:focus,
  button:hover,
  button:active,
  button:focus{
    background-color: #efefef !important;
    border: #efefef !important;
  }

}

.main_post_list{

  img{
    width: 100%;
  }

  .post_list_title{
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #0B5FAD;
    opacity: 1;
  }

  .post_list_description{
    text-align: left;
    font-size: 16px;
    letter-spacing: 0px;
    color: #767474;
    opacity: 1;
    font-weight: 600;
  }

}

.main_post_sidebar{

  span{
    text-align: left;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: -0.96px;
    color: #0A5BA6;
    opacity: 1;
  }

  .post_sidebar_category{

    ul{
      margin-bottom: 105px;
    }

    ul li a{
      text-align: left;
      font-size: 22px;
      letter-spacing: -0.66px;
      font-weight: bold;
      color: #5A5858;
      opacity: 1;
    }
  }

  .post_sidebar_more_ready{
    ul{
      padding: 0;
    }
    ul li{
      list-style: none;
      margin-bottom: 45px;
      display: flex;
      align-items: center;
      font-weight: 600;

      span{
        width: 60px;
        height: 60px;
        margin-right: 36px;
        padding: 15px 25px;
        color: #fff;
        font-size: 22px;
        border-radius: 50%;
        background-color: #0A5BA6;
      }
    }
  }

  .post_sidebar_banner{
    margin-top: 80px;
  }
}
