.main_atualizacao_cadastro{
  position: relative;
  top: -150px;

  .title_bg_gray{
    width: calc(100% + 20%);
    top: -20px;
  }

  h2{
    text-align: left;
    font: normal normal normal 22px/38px Montserrat;
    letter-spacing: -0.66px;
    color: #0B5CA8;
    font-weight: 600;
  }
  @media (max-width: 990px){
    h2{
      background-color: #EEF1F3;
      padding: 26px 22px 23px;
    }
  }

  .cadastro_info{

    p{
      text-align: left;
      font: normal normal normal 20px/26px Montserrat;
      letter-spacing: 0px;
      color: #5A5858;
      font-weight: 600;
    }
  }

  .cadastro_form{

    input[type="text"],
    input[type="email"]{
      height: 60px;
      background: #EBEBEB 0% 0% no-repeat padding-box;
      text-align: left;
      font: normal normal normal 18px/32px Montserrat;
      letter-spacing: -0.18px;
      color: #5A5858;
      padding: 19px 38px;
      margin-bottom: 20px;
      font-weight: 600;
    }

    .form_group_check{

      margin: 10px 0 30px;

      input[type="radio"]{
        width: 27px;
        height: 27px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 3px solid #8A856F;
        border-radius: 50%;
      }

      label{
        text-align: left;
        font: normal normal bold 20px/20px Montserrat;
        letter-spacing: 0px;
        color: #0A5BA6;
      }
    }

  }
}
