.main_cipa_in_midia{

  .box_cipa_in_midia{
    margin-bottom: 70px;
    background:#EEF1F3 0% 0% no-repeat padding-box;
    border-radius: 22px;
    font-weight: 600;

    .box_cipa_in_midia_text{

      h3{
        font-size: 23px;
        color: #5A5858;
        text-align: left;
        font-weight: 600;
      }
      p{
        font-size: 16px;
        color: #5A5858;
        text-align: left;
      }
      a{
        font-size: 22px;
        color: #0F6ABF;
        text-align: left;

        img{
          width: 23px;
          height: 23px;
        }
      }
    }
  }
}
