.main_duvidas{
  position: relative;
  top: -150px;

  .title_bg_gray{
    width: calc(100% + 20%);
    top: -20px;
  }
  h2{
    text-align: left;
    font: normal normal normal 22px/38px Montserrat;
    letter-spacing: -0.66px;
    color: #0B5CA8;
    font-weight: 600;
  }
  @media (max-width: 990px){
    h2{
      background-color: #EEF1F3;
      padding: 26px 22px 23px;
    }
  }

  .duvidas_accordion{

    width: 1580px;

    .show_display,
    .show_display button{
      background-color: #EEF1F3!important;
      color: #0C60AF!important;
    }
    .rotate-show button img{
      animation: arrow .5s forwards;
    }

    @keyframes arrow {
      0%{
          transform: rotate(90deg);
      }
      100%{
          transform: rotate(270deg);
      }
    }

    .card{
      border-radius: 0;
      border: 1px solid #BEC1C4;

      .card-header{
        padding: 25px;
        background-color: #fff;

        h2{
          padding: 0;
          text-align: left;
          font: normal normal normal 20px/26px Montserrat;
          letter-spacing: 0px;
          color: #5A5858;

          button{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            padding: 0;
            border: none;
            background-color: #fff;
            color: #5A5858;
            font-weight: 600;

            img{
              width: 23px;
              transform: rotate(90deg);
            }

          }
          button:hover{
            padding: 0;
            border: none;
            background-color: #fff;
          }
        }
      }

      .answer{
        background-color: #EEF1F3 !important;
      }
      .card-body{
        padding-left: 0;
        padding-right: 42px;
        font-weight: 600;
      }

    }

  }
  @media (max-width: 1580px){
    .duvidas_accordion{
      width: 100%;
    }
  }
  @media (max-width: 500px) {
    .duvidas_accordion{
      width: 80%;
    }
  }
}

.main_contato{
  .title_bg_gray{
    width: calc(100% + 50%);
    top: -20px;
  }
  h2,
  h3{
    text-align: left;
    font: normal normal normal 22px/38px Montserrat;
    letter-spacing: -0.66px;
    color: #0B5CA8;
    font-weight: 600;
  }
  @media (max-width: 990px){
    h2{
      background-color: #EEF1F3;
      padding: 26px 22px 23px;
    }
  }

  p{
    margin-bottom: 35px;
    text-align: left;
    font: normal normal normal 16px/26px Montserrat;
    letter-spacing: 0px;
    color: #5A5858;
    font-weight: 600;
  }

  span{
    text-align: left;
    font: normal normal normal 22px/26px Montserrat;
    letter-spacing: 0px;
    color: #5A5858;
  }
  span.contato_telefone{
    text-align: left;
    font: normal normal normal 28px/26px Montserrat;
    letter-spacing: 0px;
    color: #5A5858;
  }

  input{
    height: 60px;
    background: #EBEBEB 0% 0% no-repeat padding-box;
    text-align: left;
    font: normal normal normal 18px/32px Montserrat;
    letter-spacing: -0.18px;
    color: #5A5858;
    padding: 19px 38px;
    margin-bottom: 20px;
    font-weight: 600;
  }
  textarea{
    height: 277px;
    padding: 19px 38px;
    background: #EBEBEB 0% 0% no-repeat padding-box;
    border-radius: 37px;
    text-align: left;
    font: normal normal normal 18px/32px Montserrat;
    letter-spacing: -0.18px;
    color: #5A5858;
    font-weight: 600;
  }
  input:hover,
  input:focus,
  input:active,
  textarea:hover,
  textarea:focus,
  textarea:active{
    background-color: #efefef !important;
  }
}

.main_map{
  width: 100%;
  height: 650px;
  position: relative;
  bottom: -48px;
}
