.main_debito{
  position: relative;
  top: -150px;

  .title_bg_gray{
    width: calc(100% + 30%);
    top: -20px;
  }

  h2{
    text-align: left;
    font: normal normal normal 22px/38px Montserrat;
    letter-spacing: -0.66px;
    color: #0B5CA8;
    font-weight: 600;
  }
  @media (max-width: 990px){
    h2{
      background-color: #EEF1F3;
      padding: 26px 22px 23px;
    }
  }

  .debito_description{

    p{
      text-align: left;
      font: normal normal normal 20px/26px Montserrat;
      letter-spacing: 0px;
      color: #5A5858;
      font-weight: 600;
    }

  }

  .debito_button{

    a{
      text-align: center;
      font: normal normal normal 22px/32px Montserrat;
      letter-spacing: -0.22px;
      color: #FFFFFF;
      font-weight: 600;
    }
  }

  .debito_obs{
    border: 1px solid #C4C3C3;
    border-radius: 22px;

    h3{
      text-align: left;
      font: normal normal bold 20px/20px Montserrat;
      letter-spacing: 0px;
      color: #0A5BA6;
      margin-bottom: 20px;
    }
    p{
      text-align: left;
      font: normal normal normal 16px/22px Montserrat;
      letter-spacing: 0px;
      color: #767474;
      margin-bottom: 25px;
      font-weight: 600;
    }
  }

}
