.main_slide{
    position: relative;
    top: -150px;
    z-index: 1;

    .carousel-caption{
        height: calc(100% - 20%);
    }

    h5{
        font-size: 60px;
        font-weight: 300;
        line-height: 60px;
        color: #003874;
    }

    p{
        font-size: 24px;
        font-weight: 600;
        color: #5A5858;
    }

    .request_proposal{
        width: 270px;
        height: 60px;
        background-color: #0a9434;
        text-align: left;
        position: fixed;
        right: 50px;
        bottom: 110px;
        animation: pulse 2s infinite;

        a{
            background-color: #11C447;
            text-decoration: none;
            border: none;
            width: 220px;
            height: 60px;
            padding: 15px 0;
            font-size: 20px;
        }

        img{
            width: 24px;
            height: 24px;
            margin-left: 10px;
        }
    }
    @keyframes pulse{
        0% {
            box-shadow: 0 0 0 0 rgba(10, 148, 52, 0.7);
        }

        70% {
            box-shadow: 0 0 0 10px rgba(10, 148, 52, 0);
        }

        100% {
            box-shadow: 0 0 0 0 rgba(10, 148, 52, 0);
        }
    }

}

main.main_home{
    position: relative;
    top: -156px;
}

.line{
    width: 66px;
    height: 2px;
}

.main_condominium{
    width: 100%;
    background: url('../../assets/images/backgrounds/background-adm-condominios.png');
    // background: transparent linear-gradient(181deg, #003568 0%, #147EE1 100%) 0% 0% no-repeat padding-box;;
    background-repeat: no-repeat;
    background-position: center top -345px;
    border-bottom-right-radius: 245px;

    .main_condominium_content{

        margin-top: 125px;
        color: #fff;
        text-align: left;

        h3{
            font-size: 22px;
            font-weight: 600;
        }

        h2{
            font-size: 45px;
            font-weight: 300;

            span{
                font-weight: 600;
            }
        }
        p{
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 75px;
        }

        a{
            text-decoration: none;
            font-size: 22px;
            font-weight: 600;
            color: #F5F5F5;


            img{
                margin-left: 15px;
                width: 23px;
            }

        }

    }

    .main_condominium_bg{
        background: url('../../assets/images/backgrounds/background-gestao-financeira.png');
        background-repeat: no-repeat;
        background-size: 838px;
        background-position: right top;
        width: 100%;
        height: 677px;
    }

}

.main_cipa-sindica{

    position: relative;
    top: -205px;

    .main_cipa-sindica_content{

        color: #5A5858;
        text-align: right;

        h3{
            font-size: 22px;
            color: #03407B;
            font-weight: 600;
        }

        h2{
            font-weight: 28px;
            font-weight: 600;
        }

        p{
            font-size: 16px;
            line-height: 26px;
            font-weight: 600;
        }

        a{
            font-weight: 600;
            img{
                margin-left: 15px;
                width: 23px;
            }
        }
    }

    .main_cipa-sindica_bg{
        background: url('../../assets/images/backgrounds/background-cipa-sindica_gestao_operacional.png');
        background-repeat: no-repeat;
        background-size: 639px;
        background-position: left top;
        width: 100%;
        height: 674px;
    }
}

.main_install_cipa{
    background: url('../../assets/images/backgrounds/background-instale-cipa.png');
    width: 100%;
    height: 573px;
    background-size: 100% 573px;
    background-position: center center;
    background-repeat: no-repeat;

    .main_install_cipa_content{

        color: #5A5858;
        font-weight: 600;
        text-align: right;
        text-align: -webkit-right;

        h3{
            font-size: 35px;
            font-weight: 600;
        }

        h2{
            font-size: 60px;
            font-weight: 600;
            color: #002F5D;
        }

        p{
            font-size: 16px;
            line-height: 26px;
        }

        a{
            font-weight: 600;
            img{
                margin-left: 15px;
                width: 23px;
            }
        }
    }
}

.main_self-management{
    text-align: center;
    text-align: -webkit-center;
    font-weight: 400;
    color: #5A5858;

    h2{
        font-size: 45px;
        font-weight: 600;

        span{
            color: #C4112F;
        }
    }
    h3{
        font-size: 22px;
        padding: 0 75px;
        font-weight: 600;
    }
    p{
        font-size: 16px;
        font-weight: 600;
    }

    .facilities{

        p{
            font-size: 16px;
            font-weight: 600;
            line-height: 26px;
        }

        .facilities_icone{
            width: 141px;
            height: 141px;
            border: 3px solid #C4112F;
            border-radius: 50%;
            padding: 37px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 45px;

            img{
                width: 56px;
                height: 58px;
            }
        }
    }

    .attention{
        margin-top: 115px;
        font-weight: 600;

        p{
            font-size: 16px;
            line-height: 26px;
        }
        span{
            font-size: 18px;
            color: #C4112F;
        }
    }
}

.main_app{
    width: 100%;
    height: 556px;
    background: transparent linear-gradient(89deg, #4B00FF 0%, #9A0720 100%) 0% 0% no-repeat padding-box;
    background-size: 100% 556px;

    .main_app_content{
        background: url('../../assets/images/backgrounds/background-app.png') no-repeat right;
        height: 556px;
        color: #fff;
        font-weight: 400;
        text-align: left;

        h3{
            font-size: 22px;
            font-weight: 600;
        }

        p{
            font-size: 28px;
            line-height: 38px;
            font-weight: 600;
        }

        a{
            box-shadow: 6px 6px 10px 0px #000;
            font-weight: 600;
        }
    }

}

.main_summary_post{

    text-align: center;
    text-align: -webkit-center;
    font-weight: 400;
    color: #767474;

    h2{
        font-size: 45px;
        color: #003874;
        font-weight: 600;
    }
    h3{
        font-size: 22px;
        font-weight: 600;
    }

    .last_post{

        .last_post_single_post{

            text-align: left;

            h2{
                font-size: 18px;
                font-weight: 700;
                color: #0B5FAD;
                line-height: 22px;
            }
            p{
                font-size: 16px;
                font-weight: 400;
                color: #767474;
                line-height: 22px;
            }
        }
    }

    a{
        box-shadow: 2px 6px 10px -3px #000;
        font-weight: 600;
    }
}

.main_testimony{

    background: transparent linear-gradient(180deg, #EBECEE 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
    text-align: center;
    text-align: -webkit-center;
    font-weight: 400;
    color: #767474;

    h2{
        font-size: 45px;
        color: #003874;
        font-weight: 600;
    }
    h3{
        font-size: 22px;
        padding: 0 145px;
        font-weight: 600;
    }

    .last_testimony{

        .last_testimony_single_testimony{
            background-color: #fff;
            border-radius: 22px;
            padding: 29px 15px 35px 20px;
            font-size: 16px;
            color: #5A5858;
            text-align: left;
            font-weight: 400;

            .profile{

                img{
                    width: 125px;
                    height: 125px;
                    border-radius: 50%;
                    margin-right: 12px;
                    margin-bottom: 12px;
                }

                .details{

                    .name{
                        font-size: 16px;
                        font-weight: 700;
                        text-align: left;
                        color: #C4112F;
                    }

                }
            }
            p{
                font-weight: 600;
            }


        }
    }

    a{
        box-shadow: 2px 6px 10px -3px #000;
        font-weight: 600;
    }
}

@media (max-width: 768px){
    .main_slide{
        // position: unset;
        top: 0;
    }

    .main_condominium{
        background: #003466;
        border-bottom-right-radius: 0;

        .main_condominium_bg{
            display: flex;
            align-items: center;
        }

    }
    .main_condominium_bg,
    .main_cipa-sindica_bg,
    .main_app_content{
        background: unset !important;
    }

    .main_cipa-sindica{
        top: 0;
    }
    .main_install_cipa{
        background: #f9fafa 0% 0% no-repeat padding-box;
        mix-blend-mode: multiply;
    }

    .last_post{
        .last_post_single_post{
            text-align: center !important;
        }
    }

    .main_testimony{

        h3{
            padding: 0;
        }
    }
}

@media (max-width: 425px){
    .main_app{
        height: auto;
        background-size: 100% auto;

        .main_app_content{
            height: auto;
        }
    }
}

@media (max-width: 550px){
    .main_slide{

        h5{
            font-size: 16px;
            line-height: 101%;
        }

        p{
            font-size: 14px;
        }


    }
}
