.main_our_history{
  position: relative;
  top: -158px;

  .main_our_history_cover{
    background-image: url('../../assets/images/backgrounds/cover-our-history.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 470px;

    h1{
      font-size: 60px;
      font-weight: 300;
      letter-spacing: -1.8px;
      color: #003874;
    }
  }

  .main_our_history_content{

    margin: 62px 0 124px;

    p{
      text-align: left;
      font-size: 16px;
      letter-spacing: 0px;
      color: #5A5858;
      font-weight: 600;
    }
  }

  .main_our_history_services{

    .service_cover.cover_solucoes_especializadas{
      height: 494px;
      background-image: url('../../assets/images/backgrounds/solucoes-especializadas.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center right;
    }
    .service_cover.cover_gestao_adm{
      height: 628px;
      background-image: url('../../assets/images/backgrounds/gestao-administrativa.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center right;
    }
    .service_cover.cover_gestao_operacional{
      height: 664px;
      background-image: url('../../assets/images/backgrounds/gestao-operacional_cipa-sindica.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center right;
    }
    .service_cover.cover_imob{
      height: 582px;
      background-image: url('../../assets/images/backgrounds/imoveis-locacao-vendas-seguros.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center right;
    }

    .service_description{

      h2{
        text-align: left;
        font-size: 32px;
        letter-spacing: -0.96px;
        color: #0B5CA8;
        font-weight: 600;
      }
      h3{
        text-align: left;
        font-size: 16px;
        letter-spacing: 0px;
        color: #C4112F;
        font-weight: 600;
      }
      p{
        text-align: left;
        font-size: 16px;
        letter-spacing: 0px;
        color: #5A5858;
        font-weight: 600;
      }
    }
  }


}
