.main_ouvidoria{

  h2{
    text-align: left;
    font-size: 22px;
    letter-spacing: -0.66px;
    color: #0B5CA8;
    font-weight: 600;
  }
  p{
    text-align: left;
    font: normal normal normal 16px/26px Montserrat;
    letter-spacing: 0px;
    color: #5A5858;
    font-weight: 600;
  }
  span{
    text-align: left;
    font: normal normal normal 28px/26px Montserrat;
    letter-spacing: 0px;
    color: #5A5858;
  }

  .form_ouvidoria{

    input{
      height: 60px;
      background-color: #EBEBEB;
      color: #5A5858;
      font-size: 18px;
      padding: 19px 38px;
      font-weight: 600;
    }

    textarea{
      height: 277px;
      background-color: #EBEBEB;
      color: #5A5858;
      font-size: 18px;
      padding: 19px 38px;
      border-radius: 30px;
      font-weight: 600;
    }

  }

}

.title_bg_gray{
  width: 575px;
  height: 76px;
  padding: 26px 0;
  padding-right: 50px;
  background-color: #EEF1F3;
  position: absolute;
  left: -220px;
  top: -25px;
  z-index: -1;
}
@media (max-width: 768px){
  .title_bg_gray{
    width: 100%;
    left: 0;
    top: -15px;
  }

}
