.main_parceiros{
  position: relative;
  top: -150px;

  .parceiro_cipa{

    h2{
      text-align: left;
      font: normal normal normal 22px/38px Montserrat;
      letter-spacing: -0.66px;
      color: #0B5CA8;
      background-color: #EEF1F3;
      padding: 26px 0px 23px 43px;
      text-transform: uppercase;
      font-weight: 600;
    }
    p{
      text-align: left;
      font: normal normal normal 16px/26px Montserrat;
      letter-spacing: 0px;
      color: #5A5858;
      font-weight: 600;
    }

  }

}
