.main_post_video{
  position: relative;
  top: -150px;

  .post_video_embed{
    background: #EEF1F3 0% 0% no-repeat padding-box;
  }

  .post_video_description{

    time{
      font-size: 16px;
      color: #AAA7A7;
      text-align: left;
      margin-bottom: 15px;
    }
    h1{
      text-align: left;
      font-size: 38px;
      letter-spacing: -1.14px;
      color: #0D62B2;
      margin-bottom: 58px;
      font-weight: 600;
    }
    h2{
      font-size: 30px;
      font-weight: 600;
    }
    h3, h4, h5, h6{
      font-size: 25px;
      font-weight: 600;
    }
    p{
      text-align: justify;
      font-size: 16px;
      letter-spacing: 0px;
      color: #5A5858;
      font-weight: 600;
    }
  }

}

.post_video_share{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-weight: 600;

  ul{
    padding-left: 18px;
  }
  ul li{
    list-style: none;
    display: inline-block;
  }
  ul li i{
    color: #0B5FAD;
    font-size: 27px;
  }

}

.post_video_comments_number{

  span{
    font-size: 16px;
    color: #898787;
    font-weight: 600;
  }
}

.title_comments{
  display: flex;
  width: 100%;
  align-items: center;

  h2{
    margin-top: 70px;
    text-align: left;
    font-size: 20px;
    letter-spacing: -0.66px;
    color: #0B5CA8;
    opacity: 1;
    text-transform: uppercase;
    font-weight: 600;
  }

  span{
    width: 100%;
    height: 1px;
    margin-top: 65px;
    border-bottom: 1px solid #A5A4A4;
    opacity: 1;
    margin-left: 35px;
  }
}

@media (max-width: 550px){

  .title_comments{
    flex-wrap: wrap;

    span{
      margin-top: 0;
    }
  }

}

.name_comments{
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0px;
  color: #C4112F;
}
time{
  text-align: left;
  font-size: 16px;
  letter-spacing: 0px;
  color: #898787;
  opacity: 1;
  font-weight: 600;
}
.comment_comments{
  text-align: left;
  font-size: 16px;
  letter-spacing: 0px;
  color: #767474;
  opacity: 1;
  font-weight: 600;
}

.form_comments{

  input,
  textarea{
    background: #EBEBEB 0% 0% no-repeat padding-box;
    text-align: left;
    font: normal normal normal 18px/32px Montserrat;
    letter-spacing: -0.18px;
    color: #5A5858;
    padding: 0 38px;
    font-weight: 600;
  }

  input{
    height: 60px;
  }

  textarea{
    border-radius: 37px;
    height: 355px;
    padding-top: 37px;
  }
}


