.main_videos{

  .box_video{
    background:#EEF1F3 0% 0% no-repeat padding-box;
    border-radius: 22px;

    h3, p{
      font-weight: 600;
      color: #5A5858;
    }

    .box_video_thumb .carousel-caption{
      height: 100%;
      bottom: 10px;

      a{
        font-weight: 600;
        color: #0E67BB;
      }
    }
  }
}

.main_cipa_pagination{

  li.page-item a.page-link{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #ffff;
    border: 2px solid #0f4478;
    color: #0f4478;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    font-weight: 600;
  }
  li:first-child.page-item a.page-link,
  li:last-child.page-item a.page-link{
    background-color: #0f4478;
  }

  li.page-item.active a.page-link{
    background-color: #0A5BA6;
    color: #fff;
  }

}
