.main_footer_navbar{

    ul{
        list-style: none;
        padding-left: 0;

        li{
            font-size: 16px;
            font-weight: 600;
            text-align: left;
            color: #5A5959;

            a{
                text-decoration: none;
                color: #5A5959;
            }
        }
        li:first-child{
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 20px;
        }

    }
}

.title{
    font-size: 16px;
}

.main_attendance{
    width: 100%;
    height: auto;
    color: #5A5959;
    text-align: left;
    font-weight: 600;

    .bg_attendance{
        background: #EEF1F3 0% 0% no-repeat padding-box;
        width: 80%;
    }

    .address p{
        font-size: 14px;
    }

    .phone{

        p{
            font-weight: 700;
            font-size: 22px;
        }

    }

    .social_media{

        ul{
            list-style: none;
            padding-left: 0;

            li{
                display: inline;

                a{
                    text-decoration: none;
                    color: #0B5FAD;

                    i{
                        font-size: 27px;
                        color: #0B5FAD;
                    }
                }
            }
        }

        a{
            font-size: 15px;
            font-weight: 600;
            img{
                margin-left: 20px;
            }

        }
    }

}

.main_partner_certificates{

    .title{
        font-weight: 600;
    }

    .partner{

        .carousel-item img{
            margin: 0 10px;
        }
    }

    .carousel-control-prev,
    .carousel-control-next{

        span i{
            color: #ACACAC;
            font-size: 25px;
        }
    }
}

.main_copyright{
    background-color: #EEF1F3;
    height: 122px;
    width: 100%;

    p{
        font-size: 15px;
        color: #5A5959;
        font-weight: 600;
    }

    .logo_tsuru_footer{
        width: 114px;
        height: 25px;
        background: transparent url('../../assets/images/logo/logo-tsuru-footer.svg') 0% 0% no-repeat padding-box;
        mix-blend-mode: multiply;
        opacity: 1;
    }
}

@media (max-width: 1400px){

    .main_attendance{

        .bg_attendance{
            background: unset;
        }

        background: #EEF1F3 0% 0% no-repeat padding-box;
        border-radius: 80px;

    }

    .social_media{
        a{
            img{
                display: none;
            }
        }
    }
}

@media (max-width: 990px){
    .main_partner_certificates{

        .carousel-control-prev{
            left: -25px;
        }
        .carousel-control-next{
            right: -25px;
        }

    }
}

@media (max-width: 550px){

    .main_attendance{
        border-radius: 0;
        padding: 50px 0;
    }

    .social_media{
        a{
            justify-content: space-evenly!important;
            img{
                display: block;
            }
        }
    }

}
