.main_header.bg_front{
    padding: 9px 0 11px;
    background: transparent linear-gradient(269deg, #0A58A3 0%, #052C52 100%) 0% 0% no-repeat padding-box;

    .customer_area{

        label{
            font-size: 20px;
            font-weight: 600;
            color: #FBF7E1;
            text-align: left;
        }

        @media (max-width: 990px){
            label{
                font-size: 15px;
            }
        }

        .account,
        .services{
            max-width: 270px;
            width: 100%;
            height: 60px;
            background-color: #063A6D;

            img{
                width: 24px;
                height: 24px;
                margin-left: 10px;
            }
        }
        .services img{
            transform: rotate(90deg);
        }

        .account:hover img,
        .services:hover img{
            animation: show-box-down .3s forwards;
        }
        @keyframes show-box-down {
            from{
                transform: rotate(0deg);
            }
            to{
                transform: rotate(270deg);
            }

        }
        .account.active,
        .services.active{
            width: 90%;
            height: 180px;
            border-radius: 25px!important;
            background-color: #A20E27;
            position: absolute;
            top: -30px;
            box-shadow: 3px 3px 10px 2px;
            z-index: 3;

            a,
            button{
                padding: 11px 28px;
                text-align: left;
                line-height: 100%;
                font-weight: 600;
                font-size: 16px;
                background-color: transparent;
                border-color: transparent;
            }
            a:hover{
                background-color: #C4112F;
                border-color: #C4112F;
            }
            a span{
                font-size: 8px;
            }
        }
        .account.active{
            background-color: #0c559b;
        }

        .account button,
        .services a{
            width: 200px;
            height: 60px;
            padding: 0px 60px 8px 20px;
            font-size: 20px;
            line-height: 91%;
            font-weight: 600;
        }

        .services a{
            padding-left: 0;
            padding-right: 0;
            padding: 19px 0 19px 0;
        }

        span{
            font-size: 13px;
            text-align: left;
            color: #FBF7E1;
            font-weight: 600;
        }
    }
}

@media (max-width: 768px){
    .account.active,
    .services.active{
        position: relative !important;
        top: 0 !important;
    }
}
