.main_menu{
    background-color: #fff;
    border-bottom-left-radius: 200px;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
}

.main_menu_search {
    input{
        height: 60px;
        border-radius: 30px;
        background-color: #ebebeb;
        box-sizing: border-box;
        padding: 0 38px;
        font-weight: 600;
    }
    input:focus{
        border-color: transparent;
        box-shadow: none;
        background-color: #efefef;
    }
    button{
        border-bottom-right-radius: 30px;
        border-top-right-radius: 30px;
        width: 60px;
        background-color: #ebebeb;
        border: 1px solid #ced4da;
        border-left: none;
    }
    button:hover,
    .btn-outline-secondary:not(:disabled):not(.disabled):active{
        background-color: #efefef;
        border: 1px solid #efefef;
        border-left: none;
    }

    button{
        i{
            font-size: 20px;
            color: #0B5FAD;
        }
    }

}

.main_menu_navbar{
    ul{
        li a{
            color: #5A5858 !important;
            font-size: 17px;
            text-align: left;
            text-decoration: none;
            padding-right: 0.4rem !important;
            padding-left: 0.5rem !important;
            font-weight: 600;
        }

        li.active,
        li:active,
        li:hover {
            box-shadow: 0 8px 0 0 #003874;
        }
        li.active a .nav-link,
        li:hover a .nav-link{
            color: #003874 !important;
            font-weight: bold;
        }
    }

    .dropdown:hover>.dropdown-menu {
        display: block;
    }

    .dropdown-menu{
        width: 250px;
        background-color: #003567;
        // margin-top: 7px;
        box-shadow: 3px 3px 10px 2px;

        .dropdown-item{
            color: #fff !important;
            font-weight: bold;
            font-size: 14px;
            padding: .5rem 1.5rem;
        }
        .dropdown-item:hover{
            background-color: #00478a;
            color: #fff;
        }

        .dropdown-divider{
            border-top: 2px solid #004483;
            margin: 0;
        }
    }
}

@media (max-width: 1200px){
    .main_menu{
        border-bottom-left-radius: 0;

        .main_menu_logo{
            img{
                width: 100%;
            }
        }
    }
}

@media (max-width: 990px){
    .main_menu_navbar{
        ul{
            li a{
                font-size: 16px;
            }
        }
    }
}

@media (max-width: 768px){
    .main_menu_navbar{
        position: absolute;
        background: rgb(255, 255, 255);
        width: 100%;
        top: -30px;
        padding: 30px;
        z-index: 2;

    }
}

@media (max-width: 550px){

    .main_menu_navbar{
        box-shadow: 0px 0px 15px 0px #000;

        ul{
            li:hover{
                box-shadow: none;
            }
        }

        .dropdown-menu{
            width: 100%;
        }

    }

}

