.main_newsletter{
  background: #0F4478 0% 0% no-repeat padding-box;
  width: 100%;
  height: auto;

  p{
      font-size: 22px;
      font-weight: 300;
      line-height: 30px;
      color: #fff;
      text-align: left;
  }

  form{

      .form-control{
          width: 100%;
          height: 68px;
          color: #fff;
          font-size: 15px;
          text-align: left;
          padding-left: 25px;
          background-color: #0E68BD;
          border: none;
      }
      .form-control:hover{
          background-color: #1574ce;
      }

      ::-webkit-input-placeholder{
          color: #fff;
      }
      :-moz-placeholder{
          color: #fff;
      }
      ::-moz-placeholder{
          color: #fff;
      }
      :-ms-input-placeholder{
          color: #fff;
      }

      button{
          position: absolute;
          top: 13px;
          right: 35px;
          width: 25px;
          height: 25px;
      }

  }
}
