.main_newsletter {
  background: #0F4478 0% 0% no-repeat padding-box;
  width: 100%;
  height: auto;
}
.main_newsletter p {
  font-size: 22px;
  font-weight: 300;
  line-height: 30px;
  color: #fff;
  text-align: left;
}
.main_newsletter form .form-control {
  width: 100%;
  height: 68px;
  color: #fff;
  font-size: 15px;
  text-align: left;
  padding-left: 25px;
  background-color: #0E68BD;
  border: none;
}
.main_newsletter form .form-control:hover {
  background-color: #1574ce;
}
.main_newsletter form ::-webkit-input-placeholder {
  color: #fff;
}
.main_newsletter form :-moz-placeholder {
  color: #fff;
}
.main_newsletter form ::-moz-placeholder {
  color: #fff;
}
.main_newsletter form :-ms-input-placeholder {
  color: #fff;
}
.main_newsletter form button {
  position: absolute;
  top: 13px;
  right: 35px;
  width: 25px;
  height: 25px;
}

/*# sourceMappingURL=optin.css.map */
