.main_page_inner {
  position: relative;
  top: -150px;
}
.main_page_inner .main_page_inner_title {
  background: transparent linear-gradient(182deg, #003568 0%, #147EE1 100%) 0% 0% no-repeat padding-box;
  text-align: left;
  color: #FFFFFF;
}
.main_page_inner .main_page_inner_title .main_page_sub_title {
  font-size: 22px;
  font-weight: 600;
}
.main_page_inner .main_page_inner_title .main_page_title {
  font-size: 45px;
  font-weight: 300;
}
.main_page_inner .main_page_inner_title .main_page_description {
  font-size: 16px;
  font-weight: 600;
}
.main_page_inner .line_page_title {
  width: 100%;
  height: 20px;
  transform: matrix(-1, 0, 0, -1, 0, 0);
  background: transparent linear-gradient(89deg, #ED086A 0%, #A54286 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
}
.main_page_inner .bg_page_title {
  width: 100%;
  height: 150px;
  background: transparent linear-gradient(178deg, #147EE1 0%, #003568 95%) 0% 0% no-repeat padding-box;
}

/*# sourceMappingURL=page_title.css.map */
