@import '../../../node_modules/bootstrap-select/sass/bootstrap-select';

.dropdown-item.active, .dropdown-item:active{
    background-color: $color-front-default;
}

.boostrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
    width: 100%;
}

.bootstrap-select.show-tick .dropdown-menu .selected span.check-mark{
    color: $color-front-default;
}