.main_single_post {
  position: relative;
  top: -150px;
}
.main_single_post .single_post_cover {
  height: 470px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main_single_post .single_post_cover .badge-category {
  padding: 10px 15px;
  font-size: 12px;
  letter-spacing: -0.12px;
  color: #FFFFFF;
  opacity: 1;
  text-transform: uppercase;
  font-weight: 600;
}
.main_single_post .single_post_cover h1 {
  width: 50%;
  text-align: left;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: -1.2px;
  color: #0C60B0;
  opacity: 1;
}
.main_single_post .single_post_cover .single_post_date_comments {
  height: 50%;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0px;
  color: #898787;
  opacity: 1;
  font-weight: 600;
}
@media (max-width: 550px) {
  .main_single_post .single_post_cover h1 {
    width: 100%;
  }
  .main_single_post .single_post_cover .single_post_date_comments {
    height: auto;
  }
}
.main_single_post .single_post_content {
  margin-top: 105px;
}
.main_single_post .single_post_content article h2 {
  font-size: 30px;
}
.main_single_post .single_post_content article h3, .main_single_post .single_post_content article h4, .main_single_post .single_post_content article h5, .main_single_post .single_post_content article h6 {
  font-size: 20px;
}
.main_single_post .single_post_content article p {
  text-align: left;
  font-size: 16px;
  letter-spacing: 0px;
  color: #5a5858;
  opacity: 1;
}
.main_single_post .single_post_content article a {
  text-decoration: none;
  color: #898787;
}
.main_single_post .single_post_content article a:hover {
  box-shadow: inset 0 -5px 0 rgba(90, 88, 88, 0.8);
}
.main_single_post .single_post_content article img {
  width: 100%;
  height: auto;
  margin: 30px 0;
}
.main_single_post .single_post_content .post_content_share_comments {
  margin-top: 80px;
}
.main_single_post .single_post_content .post_content_prev_next {
  position: relative;
}
.main_single_post .single_post_content .post_content_prev_next .post_content_line {
  position: relative;
  width: 75%;
  border-top: 1px solid #a5a4a4;
  float: left;
  right: calc(66px + 30px);
  top: 1.5px;
}
.main_single_post .single_post_content .post_content_prev_next .post_content_line.line_right {
  float: right;
  left: calc(66px + 30px);
}
@media (max-width: 550px) {
  .main_single_post .single_post_content .post_content_prev_next .post_content_line,
.main_single_post .single_post_content .post_content_prev_next .post_content_line.line_right {
    display: none;
  }
}
.main_single_post .single_post_content .post_content_prev_next .line_prev {
  background-color: #C4112F;
  width: 66px;
  height: 2px;
  display: block;
  margin-bottom: 25px;
}
.main_single_post .single_post_content .post_content_prev_next .line_next {
  background-color: #0F4478;
  width: 66px;
  height: 2px;
  display: block;
  margin-bottom: 25px;
}
.main_single_post .single_post_content .post_content_prev_next span {
  font-size: 16px;
  letter-spacing: 0px;
  color: #898787;
  opacity: 1;
}
.main_single_post .single_post_content .post_content_prev_next h2 {
  width: 90%;
  font-size: 28px;
  letter-spacing: -0.84px;
  color: #5A5858;
  font-weight: 600;
}
@media (max-width: 550px) {
  .main_single_post .single_post_content .post_content_prev_next h2 {
    font-size: 22px;
  }
}
.main_single_post .post_content_prev_next::before {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: #a5a4a4;
  -webkit-transform: translatey(-50%);
  -ms-transform: translatey(-50%);
  -moz-transform: translatey(-50%);
  -o-transform: translatey(-50%);
  transform: translatey(-50%);
}

/*# sourceMappingURL=blog_single.css.map */
