.main_boletos {
  position: relative;
  top: -150px;
}
.main_boletos .boleto_content_text {
  text-align: left;
  font: normal normal normal 20px/26px Montserrat;
  letter-spacing: 0px;
  color: #5A5858;
  font-weight: 600;
}
.main_boletos .boleto_content_demo .title_bg_gray {
  width: calc(100% + 20%);
  top: -20px;
}
.main_boletos .boleto_content_demo h2 {
  text-align: left;
  font: normal normal normal 22px/38px Montserrat;
  letter-spacing: -0.66px;
  color: #0B5CA8;
  font-weight: 600;
}
@media (max-width: 990px) {
  .main_boletos .boleto_content_demo h2 {
    background-color: #EEF1F3;
    padding: 26px 22px 23px;
  }
}

/*# sourceMappingURL=boletos.css.map */
