.main_duvidas {
  position: relative;
  top: -150px;
}
.main_duvidas .title_bg_gray {
  width: calc(100% + 20%);
  top: -20px;
}
.main_duvidas h2 {
  text-align: left;
  font: normal normal normal 22px/38px Montserrat;
  letter-spacing: -0.66px;
  color: #0B5CA8;
  font-weight: 600;
}
@media (max-width: 990px) {
  .main_duvidas h2 {
    background-color: #EEF1F3;
    padding: 26px 22px 23px;
  }
}
.main_duvidas .duvidas_accordion {
  width: 1580px;
}
.main_duvidas .duvidas_accordion .show_display,
.main_duvidas .duvidas_accordion .show_display button {
  background-color: #EEF1F3 !important;
  color: #0C60AF !important;
}
.main_duvidas .duvidas_accordion .rotate-show button img {
  animation: arrow 0.5s forwards;
}
@keyframes arrow {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
.main_duvidas .duvidas_accordion .card {
  border-radius: 0;
  border: 1px solid #BEC1C4;
}
.main_duvidas .duvidas_accordion .card .card-header {
  padding: 25px;
  background-color: #fff;
}
.main_duvidas .duvidas_accordion .card .card-header h2 {
  padding: 0;
  text-align: left;
  font: normal normal normal 20px/26px Montserrat;
  letter-spacing: 0px;
  color: #5A5858;
}
.main_duvidas .duvidas_accordion .card .card-header h2 button {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  border: none;
  background-color: #fff;
  color: #5A5858;
  font-weight: 600;
}
.main_duvidas .duvidas_accordion .card .card-header h2 button img {
  width: 23px;
  transform: rotate(90deg);
}
.main_duvidas .duvidas_accordion .card .card-header h2 button:hover {
  padding: 0;
  border: none;
  background-color: #fff;
}
.main_duvidas .duvidas_accordion .card .answer {
  background-color: #EEF1F3 !important;
}
.main_duvidas .duvidas_accordion .card .card-body {
  padding-left: 0;
  padding-right: 42px;
  font-weight: 600;
}
@media (max-width: 1580px) {
  .main_duvidas .duvidas_accordion {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .main_duvidas .duvidas_accordion {
    width: 80%;
  }
}

.main_contato .title_bg_gray {
  width: calc(100% + 50%);
  top: -20px;
}
.main_contato h2,
.main_contato h3 {
  text-align: left;
  font: normal normal normal 22px/38px Montserrat;
  letter-spacing: -0.66px;
  color: #0B5CA8;
  font-weight: 600;
}
@media (max-width: 990px) {
  .main_contato h2 {
    background-color: #EEF1F3;
    padding: 26px 22px 23px;
  }
}
.main_contato p {
  margin-bottom: 35px;
  text-align: left;
  font: normal normal normal 16px/26px Montserrat;
  letter-spacing: 0px;
  color: #5A5858;
  font-weight: 600;
}
.main_contato span {
  text-align: left;
  font: normal normal normal 22px/26px Montserrat;
  letter-spacing: 0px;
  color: #5A5858;
}
.main_contato span.contato_telefone {
  text-align: left;
  font: normal normal normal 28px/26px Montserrat;
  letter-spacing: 0px;
  color: #5A5858;
}
.main_contato input {
  height: 60px;
  background: #EBEBEB 0% 0% no-repeat padding-box;
  text-align: left;
  font: normal normal normal 18px/32px Montserrat;
  letter-spacing: -0.18px;
  color: #5A5858;
  padding: 19px 38px;
  margin-bottom: 20px;
  font-weight: 600;
}
.main_contato textarea {
  height: 277px;
  padding: 19px 38px;
  background: #EBEBEB 0% 0% no-repeat padding-box;
  border-radius: 37px;
  text-align: left;
  font: normal normal normal 18px/32px Montserrat;
  letter-spacing: -0.18px;
  color: #5A5858;
  font-weight: 600;
}
.main_contato input:hover,
.main_contato input:focus,
.main_contato input:active,
.main_contato textarea:hover,
.main_contato textarea:focus,
.main_contato textarea:active {
  background-color: #efefef !important;
}

.main_map {
  width: 100%;
  height: 650px;
  position: relative;
  bottom: -48px;
}

/*# sourceMappingURL=contact.css.map */
