.main_list_ebooks .main_ebook img {
  width: 251px;
  height: 189px;
}
.main_list_ebooks .main_ebook .ebook_date_post {
  font-size: 16px;
  text-align: left;
  color: #AAA7A7;
}
.main_list_ebooks .main_ebook h2 {
  margin-top: 11px;
  font-size: 21px;
  color: #0B5FAD;
  text-align: left;
  line-height: 26px;
  font-weight: 600;
}

.main_see_too h2 {
  font-size: 45px;
  color: #5A5858;
  font-weight: 600;
}
.main_see_too h2 span {
  color: #C4112F;
  font-weight: 600;
}
.main_see_too .box_see_too {
  background: #EEF1F3 0% 0% no-repeat padding-box;
  height: 308px;
  border-radius: 22px;
}
.main_see_too .box_see_too .box_see_too_icon {
  background: #D3D7D9 0% 0% no-repeat padding-box;
  border-radius: 22px;
  height: 308px;
}
.main_see_too .box_see_too .box_see_too_text h3 {
  font-size: 45px;
  color: #5A5858;
  text-align: left;
  font-weight: 600;
}
.main_see_too .box_see_too .box_see_too_text p {
  font-weight: 600;
}

/*# sourceMappingURL=ebooks.css.map */
