@import 'variables';

@import 'theme/header';
@import 'theme/menu';
@import 'theme/footer';

@import 'pages/home';
@import 'pages/ebooks';
@import 'pages/cipa_in_midia';
@import 'pages/videos';
@import 'pages/videos_single';
@import 'pages/blog';
@import 'pages/blog_single';
@import 'pages/our_history';
@import 'pages/ouvidoria';
@import 'pages/parceiros';
@import 'pages/boletos';
@import 'pages/debito';
@import 'pages/cadastro';
@import 'pages/contact';

@import 'fold/optin.scss';
@import 'fold/page_title';


*, *:before, *:after{
    outline: none !important;
}

body{
    font-family: 'Montserrat', sans-serif;
}




