.main_header.bg_front {
  padding: 9px 0 11px;
  background: transparent linear-gradient(269deg, #0A58A3 0%, #052C52 100%) 0% 0% no-repeat padding-box;
}
.main_header.bg_front .customer_area label {
  font-size: 20px;
  font-weight: 600;
  color: #FBF7E1;
  text-align: left;
}
@media (max-width: 990px) {
  .main_header.bg_front .customer_area label {
    font-size: 15px;
  }
}
.main_header.bg_front .customer_area .account,
.main_header.bg_front .customer_area .services {
  max-width: 270px;
  width: 100%;
  height: 60px;
  background-color: #063A6D;
}
.main_header.bg_front .customer_area .account img,
.main_header.bg_front .customer_area .services img {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
.main_header.bg_front .customer_area .services img {
  transform: rotate(90deg);
}
.main_header.bg_front .customer_area .account:hover img,
.main_header.bg_front .customer_area .services:hover img {
  animation: show-box-down 0.3s forwards;
}
@keyframes show-box-down {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(270deg);
  }
}
.main_header.bg_front .customer_area .account.active,
.main_header.bg_front .customer_area .services.active {
  width: 90%;
  height: 180px;
  border-radius: 25px !important;
  background-color: #A20E27;
  position: absolute;
  top: -30px;
  box-shadow: 3px 3px 10px 2px;
  z-index: 3;
}
.main_header.bg_front .customer_area .account.active a,
.main_header.bg_front .customer_area .account.active button,
.main_header.bg_front .customer_area .services.active a,
.main_header.bg_front .customer_area .services.active button {
  padding: 11px 28px;
  text-align: left;
  line-height: 100%;
  font-weight: 600;
  font-size: 16px;
  background-color: transparent;
  border-color: transparent;
}
.main_header.bg_front .customer_area .account.active a:hover,
.main_header.bg_front .customer_area .services.active a:hover {
  background-color: #C4112F;
  border-color: #C4112F;
}
.main_header.bg_front .customer_area .account.active a span,
.main_header.bg_front .customer_area .services.active a span {
  font-size: 8px;
}
.main_header.bg_front .customer_area .account.active {
  background-color: #0c559b;
}
.main_header.bg_front .customer_area .account button,
.main_header.bg_front .customer_area .services a {
  width: 200px;
  height: 60px;
  padding: 0px 60px 8px 20px;
  font-size: 20px;
  line-height: 91%;
  font-weight: 600;
}
.main_header.bg_front .customer_area .services a {
  padding-left: 0;
  padding-right: 0;
  padding: 19px 0 19px 0;
}
.main_header.bg_front .customer_area span {
  font-size: 13px;
  text-align: left;
  color: #FBF7E1;
  font-weight: 600;
}

@media (max-width: 768px) {
  .account.active,
.services.active {
    position: relative !important;
    top: 0 !important;
  }
}
.main_menu {
  background-color: #fff;
  border-bottom-left-radius: 200px;
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;
}

.main_menu_search input {
  height: 60px;
  border-radius: 30px;
  background-color: #ebebeb;
  box-sizing: border-box;
  padding: 0 38px;
  font-weight: 600;
}
.main_menu_search input:focus {
  border-color: transparent;
  box-shadow: none;
  background-color: #efefef;
}
.main_menu_search button {
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  width: 60px;
  background-color: #ebebeb;
  border: 1px solid #ced4da;
  border-left: none;
}
.main_menu_search button:hover,
.main_menu_search .btn-outline-secondary:not(:disabled):not(.disabled):active {
  background-color: #efefef;
  border: 1px solid #efefef;
  border-left: none;
}
.main_menu_search button i {
  font-size: 20px;
  color: #0B5FAD;
}

.main_menu_navbar ul li a {
  color: #5A5858 !important;
  font-size: 17px;
  text-align: left;
  text-decoration: none;
  padding-right: 0.4rem !important;
  padding-left: 0.5rem !important;
  font-weight: 600;
}
.main_menu_navbar ul li.active,
.main_menu_navbar ul li:active,
.main_menu_navbar ul li:hover {
  box-shadow: 0 8px 0 0 #003874;
}
.main_menu_navbar ul li.active a .nav-link,
.main_menu_navbar ul li:hover a .nav-link {
  color: #003874 !important;
  font-weight: bold;
}
.main_menu_navbar .dropdown:hover > .dropdown-menu {
  display: block;
}
.main_menu_navbar .dropdown-menu {
  width: 250px;
  background-color: #003567;
  box-shadow: 3px 3px 10px 2px;
}
.main_menu_navbar .dropdown-menu .dropdown-item {
  color: #fff !important;
  font-weight: bold;
  font-size: 14px;
  padding: 0.5rem 1.5rem;
}
.main_menu_navbar .dropdown-menu .dropdown-item:hover {
  background-color: #00478a;
  color: #fff;
}
.main_menu_navbar .dropdown-menu .dropdown-divider {
  border-top: 2px solid #004483;
  margin: 0;
}

@media (max-width: 1200px) {
  .main_menu {
    border-bottom-left-radius: 0;
  }
  .main_menu .main_menu_logo img {
    width: 100%;
  }
}
@media (max-width: 990px) {
  .main_menu_navbar ul li a {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .main_menu_navbar {
    position: absolute;
    background: white;
    width: 100%;
    top: -30px;
    padding: 30px;
    z-index: 2;
  }
}
@media (max-width: 550px) {
  .main_menu_navbar {
    box-shadow: 0px 0px 15px 0px #000;
  }
  .main_menu_navbar ul li:hover {
    box-shadow: none;
  }
  .main_menu_navbar .dropdown-menu {
    width: 100%;
  }
}
.main_footer_navbar ul {
  list-style: none;
  padding-left: 0;
}
.main_footer_navbar ul li {
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  color: #5A5959;
}
.main_footer_navbar ul li a {
  text-decoration: none;
  color: #5A5959;
}
.main_footer_navbar ul li:first-child {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}

.title {
  font-size: 16px;
}

.main_attendance {
  width: 100%;
  height: auto;
  color: #5A5959;
  text-align: left;
  font-weight: 600;
}
.main_attendance .bg_attendance {
  background: #EEF1F3 0% 0% no-repeat padding-box;
  width: 80%;
}
.main_attendance .address p {
  font-size: 14px;
}
.main_attendance .phone p {
  font-weight: 700;
  font-size: 22px;
}
.main_attendance .social_media ul {
  list-style: none;
  padding-left: 0;
}
.main_attendance .social_media ul li {
  display: inline;
}
.main_attendance .social_media ul li a {
  text-decoration: none;
  color: #0B5FAD;
}
.main_attendance .social_media ul li a i {
  font-size: 27px;
  color: #0B5FAD;
}
.main_attendance .social_media a {
  font-size: 15px;
  font-weight: 600;
}
.main_attendance .social_media a img {
  margin-left: 20px;
}

.main_partner_certificates .title {
  font-weight: 600;
}
.main_partner_certificates .partner .carousel-item img {
  margin: 0 10px;
}
.main_partner_certificates .carousel-control-prev span i,
.main_partner_certificates .carousel-control-next span i {
  color: #ACACAC;
  font-size: 25px;
}

.main_copyright {
  background-color: #EEF1F3;
  height: 122px;
  width: 100%;
}
.main_copyright p {
  font-size: 15px;
  color: #5A5959;
  font-weight: 600;
}
.main_copyright .logo_tsuru_footer {
  width: 114px;
  height: 25px;
  background: transparent url("../../assets/images/logo/logo-tsuru-footer.svg") 0% 0% no-repeat padding-box;
  mix-blend-mode: multiply;
  opacity: 1;
}

@media (max-width: 1400px) {
  .main_attendance {
    background: #EEF1F3 0% 0% no-repeat padding-box;
    border-radius: 80px;
  }
  .main_attendance .bg_attendance {
    background: unset;
  }

  .social_media a img {
    display: none;
  }
}
@media (max-width: 990px) {
  .main_partner_certificates .carousel-control-prev {
    left: -25px;
  }
  .main_partner_certificates .carousel-control-next {
    right: -25px;
  }
}
@media (max-width: 550px) {
  .main_attendance {
    border-radius: 0;
    padding: 50px 0;
  }

  .social_media a {
    justify-content: space-evenly !important;
  }
  .social_media a img {
    display: block;
  }
}
.main_slide {
  position: relative;
  top: -150px;
  z-index: 1;
}
.main_slide .carousel-caption {
  height: calc(100% - 20%);
}
.main_slide h5 {
  font-size: 60px;
  font-weight: 300;
  line-height: 60px;
  color: #003874;
}
.main_slide p {
  font-size: 24px;
  font-weight: 600;
  color: #5A5858;
}
.main_slide .request_proposal {
  width: 270px;
  height: 60px;
  background-color: #0a9434;
  text-align: left;
  position: fixed;
  right: 50px;
  bottom: 110px;
  animation: pulse 2s infinite;
}
.main_slide .request_proposal a {
  background-color: #11C447;
  text-decoration: none;
  border: none;
  width: 220px;
  height: 60px;
  padding: 15px 0;
  font-size: 20px;
}
.main_slide .request_proposal img {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(10, 148, 52, 0.7);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(10, 148, 52, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(10, 148, 52, 0);
  }
}

main.main_home {
  position: relative;
  top: -156px;
}

.line {
  width: 66px;
  height: 2px;
}

.main_condominium {
  width: 100%;
  background: url("../../assets/images/backgrounds/background-adm-condominios.png");
  background-repeat: no-repeat;
  background-position: center top -345px;
  border-bottom-right-radius: 245px;
}
.main_condominium .main_condominium_content {
  margin-top: 125px;
  color: #fff;
  text-align: left;
}
.main_condominium .main_condominium_content h3 {
  font-size: 22px;
  font-weight: 600;
}
.main_condominium .main_condominium_content h2 {
  font-size: 45px;
  font-weight: 300;
}
.main_condominium .main_condominium_content h2 span {
  font-weight: 600;
}
.main_condominium .main_condominium_content p {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 75px;
}
.main_condominium .main_condominium_content a {
  text-decoration: none;
  font-size: 22px;
  font-weight: 600;
  color: #F5F5F5;
}
.main_condominium .main_condominium_content a img {
  margin-left: 15px;
  width: 23px;
}
.main_condominium .main_condominium_bg {
  background: url("../../assets/images/backgrounds/background-gestao-financeira.png");
  background-repeat: no-repeat;
  background-size: 838px;
  background-position: right top;
  width: 100%;
  height: 677px;
}

.main_cipa-sindica {
  position: relative;
  top: -205px;
}
.main_cipa-sindica .main_cipa-sindica_content {
  color: #5A5858;
  text-align: right;
}
.main_cipa-sindica .main_cipa-sindica_content h3 {
  font-size: 22px;
  color: #03407B;
  font-weight: 600;
}
.main_cipa-sindica .main_cipa-sindica_content h2 {
  font-weight: 28px;
  font-weight: 600;
}
.main_cipa-sindica .main_cipa-sindica_content p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
}
.main_cipa-sindica .main_cipa-sindica_content a {
  font-weight: 600;
}
.main_cipa-sindica .main_cipa-sindica_content a img {
  margin-left: 15px;
  width: 23px;
}
.main_cipa-sindica .main_cipa-sindica_bg {
  background: url("../../assets/images/backgrounds/background-cipa-sindica_gestao_operacional.png");
  background-repeat: no-repeat;
  background-size: 639px;
  background-position: left top;
  width: 100%;
  height: 674px;
}

.main_install_cipa {
  background: url("../../assets/images/backgrounds/background-instale-cipa.png");
  width: 100%;
  height: 573px;
  background-size: 100% 573px;
  background-position: center center;
  background-repeat: no-repeat;
}
.main_install_cipa .main_install_cipa_content {
  color: #5A5858;
  font-weight: 600;
  text-align: right;
  text-align: -webkit-right;
}
.main_install_cipa .main_install_cipa_content h3 {
  font-size: 35px;
  font-weight: 600;
}
.main_install_cipa .main_install_cipa_content h2 {
  font-size: 60px;
  font-weight: 600;
  color: #002F5D;
}
.main_install_cipa .main_install_cipa_content p {
  font-size: 16px;
  line-height: 26px;
}
.main_install_cipa .main_install_cipa_content a {
  font-weight: 600;
}
.main_install_cipa .main_install_cipa_content a img {
  margin-left: 15px;
  width: 23px;
}

.main_self-management {
  text-align: center;
  text-align: -webkit-center;
  font-weight: 400;
  color: #5A5858;
}
.main_self-management h2 {
  font-size: 45px;
  font-weight: 600;
}
.main_self-management h2 span {
  color: #C4112F;
}
.main_self-management h3 {
  font-size: 22px;
  padding: 0 75px;
  font-weight: 600;
}
.main_self-management p {
  font-size: 16px;
  font-weight: 600;
}
.main_self-management .facilities p {
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
}
.main_self-management .facilities .facilities_icone {
  width: 141px;
  height: 141px;
  border: 3px solid #C4112F;
  border-radius: 50%;
  padding: 37px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 45px;
}
.main_self-management .facilities .facilities_icone img {
  width: 56px;
  height: 58px;
}
.main_self-management .attention {
  margin-top: 115px;
  font-weight: 600;
}
.main_self-management .attention p {
  font-size: 16px;
  line-height: 26px;
}
.main_self-management .attention span {
  font-size: 18px;
  color: #C4112F;
}

.main_app {
  width: 100%;
  height: 556px;
  background: transparent linear-gradient(89deg, #4B00FF 0%, #9A0720 100%) 0% 0% no-repeat padding-box;
  background-size: 100% 556px;
}
.main_app .main_app_content {
  background: url("../../assets/images/backgrounds/background-app.png") no-repeat right;
  height: 556px;
  color: #fff;
  font-weight: 400;
  text-align: left;
}
.main_app .main_app_content h3 {
  font-size: 22px;
  font-weight: 600;
}
.main_app .main_app_content p {
  font-size: 28px;
  line-height: 38px;
  font-weight: 600;
}
.main_app .main_app_content a {
  box-shadow: 6px 6px 10px 0px #000;
  font-weight: 600;
}

.main_summary_post {
  text-align: center;
  text-align: -webkit-center;
  font-weight: 400;
  color: #767474;
}
.main_summary_post h2 {
  font-size: 45px;
  color: #003874;
  font-weight: 600;
}
.main_summary_post h3 {
  font-size: 22px;
  font-weight: 600;
}
.main_summary_post .last_post .last_post_single_post {
  text-align: left;
}
.main_summary_post .last_post .last_post_single_post h2 {
  font-size: 18px;
  font-weight: 700;
  color: #0B5FAD;
  line-height: 22px;
}
.main_summary_post .last_post .last_post_single_post p {
  font-size: 16px;
  font-weight: 400;
  color: #767474;
  line-height: 22px;
}
.main_summary_post a {
  box-shadow: 2px 6px 10px -3px #000;
  font-weight: 600;
}

.main_testimony {
  background: transparent linear-gradient(180deg, #EBECEE 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
  text-align: center;
  text-align: -webkit-center;
  font-weight: 400;
  color: #767474;
}
.main_testimony h2 {
  font-size: 45px;
  color: #003874;
  font-weight: 600;
}
.main_testimony h3 {
  font-size: 22px;
  padding: 0 145px;
  font-weight: 600;
}
.main_testimony .last_testimony .last_testimony_single_testimony {
  background-color: #fff;
  border-radius: 22px;
  padding: 29px 15px 35px 20px;
  font-size: 16px;
  color: #5A5858;
  text-align: left;
  font-weight: 400;
}
.main_testimony .last_testimony .last_testimony_single_testimony .profile img {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  margin-right: 12px;
  margin-bottom: 12px;
}
.main_testimony .last_testimony .last_testimony_single_testimony .profile .details .name {
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  color: #C4112F;
}
.main_testimony .last_testimony .last_testimony_single_testimony p {
  font-weight: 600;
}
.main_testimony a {
  box-shadow: 2px 6px 10px -3px #000;
  font-weight: 600;
}

@media (max-width: 768px) {
  .main_slide {
    top: 0;
  }

  .main_condominium {
    background: #003466;
    border-bottom-right-radius: 0;
  }
  .main_condominium .main_condominium_bg {
    display: flex;
    align-items: center;
  }

  .main_condominium_bg,
.main_cipa-sindica_bg,
.main_app_content {
    background: unset !important;
  }

  .main_cipa-sindica {
    top: 0;
  }

  .main_install_cipa {
    background: #f9fafa 0% 0% no-repeat padding-box;
    mix-blend-mode: multiply;
  }

  .last_post .last_post_single_post {
    text-align: center !important;
  }

  .main_testimony h3 {
    padding: 0;
  }
}
@media (max-width: 425px) {
  .main_app {
    height: auto;
    background-size: 100% auto;
  }
  .main_app .main_app_content {
    height: auto;
  }
}
@media (max-width: 550px) {
  .main_slide h5 {
    font-size: 16px;
    line-height: 101%;
  }
  .main_slide p {
    font-size: 14px;
  }
}
.main_list_ebooks .main_ebook img {
  width: 251px;
  height: 189px;
}
.main_list_ebooks .main_ebook .ebook_date_post {
  font-size: 16px;
  text-align: left;
  color: #AAA7A7;
}
.main_list_ebooks .main_ebook h2 {
  margin-top: 11px;
  font-size: 21px;
  color: #0B5FAD;
  text-align: left;
  line-height: 26px;
  font-weight: 600;
}

.main_see_too h2 {
  font-size: 45px;
  color: #5A5858;
  font-weight: 600;
}
.main_see_too h2 span {
  color: #C4112F;
  font-weight: 600;
}
.main_see_too .box_see_too {
  background: #EEF1F3 0% 0% no-repeat padding-box;
  height: 308px;
  border-radius: 22px;
}
.main_see_too .box_see_too .box_see_too_icon {
  background: #D3D7D9 0% 0% no-repeat padding-box;
  border-radius: 22px;
  height: 308px;
}
.main_see_too .box_see_too .box_see_too_text h3 {
  font-size: 45px;
  color: #5A5858;
  text-align: left;
  font-weight: 600;
}
.main_see_too .box_see_too .box_see_too_text p {
  font-weight: 600;
}

.main_cipa_in_midia .box_cipa_in_midia {
  margin-bottom: 70px;
  background: #EEF1F3 0% 0% no-repeat padding-box;
  border-radius: 22px;
  font-weight: 600;
}
.main_cipa_in_midia .box_cipa_in_midia .box_cipa_in_midia_text h3 {
  font-size: 23px;
  color: #5A5858;
  text-align: left;
  font-weight: 600;
}
.main_cipa_in_midia .box_cipa_in_midia .box_cipa_in_midia_text p {
  font-size: 16px;
  color: #5A5858;
  text-align: left;
}
.main_cipa_in_midia .box_cipa_in_midia .box_cipa_in_midia_text a {
  font-size: 22px;
  color: #0F6ABF;
  text-align: left;
}
.main_cipa_in_midia .box_cipa_in_midia .box_cipa_in_midia_text a img {
  width: 23px;
  height: 23px;
}

.main_videos .box_video {
  background: #EEF1F3 0% 0% no-repeat padding-box;
  border-radius: 22px;
}
.main_videos .box_video h3, .main_videos .box_video p {
  font-weight: 600;
  color: #5A5858;
}
.main_videos .box_video .box_video_thumb .carousel-caption {
  height: 100%;
  bottom: 10px;
}
.main_videos .box_video .box_video_thumb .carousel-caption a {
  font-weight: 600;
  color: #0E67BB;
}

.main_cipa_pagination li.page-item a.page-link {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #ffff;
  border: 2px solid #0f4478;
  color: #0f4478;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  font-weight: 600;
}
.main_cipa_pagination li:first-child.page-item a.page-link,
.main_cipa_pagination li:last-child.page-item a.page-link {
  background-color: #0f4478;
}
.main_cipa_pagination li.page-item.active a.page-link {
  background-color: #0A5BA6;
  color: #fff;
}

.main_post_video {
  position: relative;
  top: -150px;
}
.main_post_video .post_video_embed {
  background: #EEF1F3 0% 0% no-repeat padding-box;
}
.main_post_video .post_video_description time {
  font-size: 16px;
  color: #AAA7A7;
  text-align: left;
  margin-bottom: 15px;
}
.main_post_video .post_video_description h1 {
  text-align: left;
  font-size: 38px;
  letter-spacing: -1.14px;
  color: #0D62B2;
  margin-bottom: 58px;
  font-weight: 600;
}
.main_post_video .post_video_description h2 {
  font-size: 30px;
  font-weight: 600;
}
.main_post_video .post_video_description h3, .main_post_video .post_video_description h4, .main_post_video .post_video_description h5, .main_post_video .post_video_description h6 {
  font-size: 25px;
  font-weight: 600;
}
.main_post_video .post_video_description p {
  text-align: justify;
  font-size: 16px;
  letter-spacing: 0px;
  color: #5A5858;
  font-weight: 600;
}

.post_video_share {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-weight: 600;
}
.post_video_share ul {
  padding-left: 18px;
}
.post_video_share ul li {
  list-style: none;
  display: inline-block;
}
.post_video_share ul li i {
  color: #0B5FAD;
  font-size: 27px;
}

.post_video_comments_number span {
  font-size: 16px;
  color: #898787;
  font-weight: 600;
}

.title_comments {
  display: flex;
  width: 100%;
  align-items: center;
}
.title_comments h2 {
  margin-top: 70px;
  text-align: left;
  font-size: 20px;
  letter-spacing: -0.66px;
  color: #0B5CA8;
  opacity: 1;
  text-transform: uppercase;
  font-weight: 600;
}
.title_comments span {
  width: 100%;
  height: 1px;
  margin-top: 65px;
  border-bottom: 1px solid #A5A4A4;
  opacity: 1;
  margin-left: 35px;
}

@media (max-width: 550px) {
  .title_comments {
    flex-wrap: wrap;
  }
  .title_comments span {
    margin-top: 0;
  }
}
.name_comments {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0px;
  color: #C4112F;
}

time {
  text-align: left;
  font-size: 16px;
  letter-spacing: 0px;
  color: #898787;
  opacity: 1;
  font-weight: 600;
}

.comment_comments {
  text-align: left;
  font-size: 16px;
  letter-spacing: 0px;
  color: #767474;
  opacity: 1;
  font-weight: 600;
}

.form_comments input,
.form_comments textarea {
  background: #EBEBEB 0% 0% no-repeat padding-box;
  text-align: left;
  font: normal normal normal 18px/32px Montserrat;
  letter-spacing: -0.18px;
  color: #5A5858;
  padding: 0 38px;
  font-weight: 600;
}
.form_comments input {
  height: 60px;
}
.form_comments textarea {
  border-radius: 37px;
  height: 355px;
  padding-top: 37px;
}

.main_form_search input {
  border-radius: 30px;
  background-color: #EBEBEB;
  height: 60px;
  padding: 22px;
  font-size: 18px;
  color: #5A5858;
  letter-spacing: -0.18px;
  border-right: none;
  font-weight: 600;
}
.main_form_search button {
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #EBEBEB;
  border-left: none;
}
.main_form_search button i {
  color: #0B5FAD;
  font-size: 23px;
  margin-right: 23px;
}
.main_form_search input:hover,
.main_form_search input:active,
.main_form_search input:focus,
.main_form_search button:hover,
.main_form_search button:active,
.main_form_search button:focus {
  background-color: #efefef !important;
  border: #efefef !important;
}

.main_post_list img {
  width: 100%;
}
.main_post_list .post_list_title {
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0px;
  color: #0B5FAD;
  opacity: 1;
}
.main_post_list .post_list_description {
  text-align: left;
  font-size: 16px;
  letter-spacing: 0px;
  color: #767474;
  opacity: 1;
  font-weight: 600;
}

.main_post_sidebar span {
  text-align: left;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: -0.96px;
  color: #0A5BA6;
  opacity: 1;
}
.main_post_sidebar .post_sidebar_category ul {
  margin-bottom: 105px;
}
.main_post_sidebar .post_sidebar_category ul li a {
  text-align: left;
  font-size: 22px;
  letter-spacing: -0.66px;
  font-weight: bold;
  color: #5A5858;
  opacity: 1;
}
.main_post_sidebar .post_sidebar_more_ready ul {
  padding: 0;
}
.main_post_sidebar .post_sidebar_more_ready ul li {
  list-style: none;
  margin-bottom: 45px;
  display: flex;
  align-items: center;
  font-weight: 600;
}
.main_post_sidebar .post_sidebar_more_ready ul li span {
  width: 60px;
  height: 60px;
  margin-right: 36px;
  padding: 15px 25px;
  color: #fff;
  font-size: 22px;
  border-radius: 50%;
  background-color: #0A5BA6;
}
.main_post_sidebar .post_sidebar_banner {
  margin-top: 80px;
}

.main_single_post {
  position: relative;
  top: -150px;
}
.main_single_post .single_post_cover {
  height: 470px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main_single_post .single_post_cover .badge-category {
  padding: 10px 15px;
  font-size: 12px;
  letter-spacing: -0.12px;
  color: #FFFFFF;
  opacity: 1;
  text-transform: uppercase;
  font-weight: 600;
}
.main_single_post .single_post_cover h1 {
  width: 50%;
  text-align: left;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: -1.2px;
  color: #0C60B0;
  opacity: 1;
}
.main_single_post .single_post_cover .single_post_date_comments {
  height: 50%;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0px;
  color: #898787;
  opacity: 1;
  font-weight: 600;
}
@media (max-width: 550px) {
  .main_single_post .single_post_cover h1 {
    width: 100%;
  }
  .main_single_post .single_post_cover .single_post_date_comments {
    height: auto;
  }
}
.main_single_post .single_post_content {
  margin-top: 105px;
}
.main_single_post .single_post_content article h2 {
  font-size: 30px;
}
.main_single_post .single_post_content article h3, .main_single_post .single_post_content article h4, .main_single_post .single_post_content article h5, .main_single_post .single_post_content article h6 {
  font-size: 20px;
}
.main_single_post .single_post_content article p {
  text-align: left;
  font-size: 16px;
  letter-spacing: 0px;
  color: #5a5858;
  opacity: 1;
}
.main_single_post .single_post_content article a {
  text-decoration: none;
  color: #898787;
}
.main_single_post .single_post_content article a:hover {
  box-shadow: inset 0 -5px 0 rgba(90, 88, 88, 0.8);
}
.main_single_post .single_post_content article img {
  width: 100%;
  height: auto;
  margin: 30px 0;
}
.main_single_post .single_post_content .post_content_share_comments {
  margin-top: 80px;
}
.main_single_post .single_post_content .post_content_prev_next {
  position: relative;
}
.main_single_post .single_post_content .post_content_prev_next .post_content_line {
  position: relative;
  width: 75%;
  border-top: 1px solid #a5a4a4;
  float: left;
  right: calc(66px + 30px);
  top: 1.5px;
}
.main_single_post .single_post_content .post_content_prev_next .post_content_line.line_right {
  float: right;
  left: calc(66px + 30px);
}
@media (max-width: 550px) {
  .main_single_post .single_post_content .post_content_prev_next .post_content_line,
.main_single_post .single_post_content .post_content_prev_next .post_content_line.line_right {
    display: none;
  }
}
.main_single_post .single_post_content .post_content_prev_next .line_prev {
  background-color: #C4112F;
  width: 66px;
  height: 2px;
  display: block;
  margin-bottom: 25px;
}
.main_single_post .single_post_content .post_content_prev_next .line_next {
  background-color: #0F4478;
  width: 66px;
  height: 2px;
  display: block;
  margin-bottom: 25px;
}
.main_single_post .single_post_content .post_content_prev_next span {
  font-size: 16px;
  letter-spacing: 0px;
  color: #898787;
  opacity: 1;
}
.main_single_post .single_post_content .post_content_prev_next h2 {
  width: 90%;
  font-size: 28px;
  letter-spacing: -0.84px;
  color: #5A5858;
  font-weight: 600;
}
@media (max-width: 550px) {
  .main_single_post .single_post_content .post_content_prev_next h2 {
    font-size: 22px;
  }
}
.main_single_post .post_content_prev_next::before {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: #a5a4a4;
  -webkit-transform: translatey(-50%);
  -ms-transform: translatey(-50%);
  -moz-transform: translatey(-50%);
  -o-transform: translatey(-50%);
  transform: translatey(-50%);
}

.main_our_history {
  position: relative;
  top: -158px;
}
.main_our_history .main_our_history_cover {
  background-image: url("../../assets/images/backgrounds/cover-our-history.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 470px;
}
.main_our_history .main_our_history_cover h1 {
  font-size: 60px;
  font-weight: 300;
  letter-spacing: -1.8px;
  color: #003874;
}
.main_our_history .main_our_history_content {
  margin: 62px 0 124px;
}
.main_our_history .main_our_history_content p {
  text-align: left;
  font-size: 16px;
  letter-spacing: 0px;
  color: #5A5858;
  font-weight: 600;
}
.main_our_history .main_our_history_services .service_cover.cover_solucoes_especializadas {
  height: 494px;
  background-image: url("../../assets/images/backgrounds/solucoes-especializadas.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center right;
}
.main_our_history .main_our_history_services .service_cover.cover_gestao_adm {
  height: 628px;
  background-image: url("../../assets/images/backgrounds/gestao-administrativa.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
}
.main_our_history .main_our_history_services .service_cover.cover_gestao_operacional {
  height: 664px;
  background-image: url("../../assets/images/backgrounds/gestao-operacional_cipa-sindica.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
}
.main_our_history .main_our_history_services .service_cover.cover_imob {
  height: 582px;
  background-image: url("../../assets/images/backgrounds/imoveis-locacao-vendas-seguros.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center right;
}
.main_our_history .main_our_history_services .service_description h2 {
  text-align: left;
  font-size: 32px;
  letter-spacing: -0.96px;
  color: #0B5CA8;
  font-weight: 600;
}
.main_our_history .main_our_history_services .service_description h3 {
  text-align: left;
  font-size: 16px;
  letter-spacing: 0px;
  color: #C4112F;
  font-weight: 600;
}
.main_our_history .main_our_history_services .service_description p {
  text-align: left;
  font-size: 16px;
  letter-spacing: 0px;
  color: #5A5858;
  font-weight: 600;
}

.main_ouvidoria h2 {
  text-align: left;
  font-size: 22px;
  letter-spacing: -0.66px;
  color: #0B5CA8;
  font-weight: 600;
}
.main_ouvidoria p {
  text-align: left;
  font: normal normal normal 16px/26px Montserrat;
  letter-spacing: 0px;
  color: #5A5858;
  font-weight: 600;
}
.main_ouvidoria span {
  text-align: left;
  font: normal normal normal 28px/26px Montserrat;
  letter-spacing: 0px;
  color: #5A5858;
}
.main_ouvidoria .form_ouvidoria input {
  height: 60px;
  background-color: #EBEBEB;
  color: #5A5858;
  font-size: 18px;
  padding: 19px 38px;
  font-weight: 600;
}
.main_ouvidoria .form_ouvidoria textarea {
  height: 277px;
  background-color: #EBEBEB;
  color: #5A5858;
  font-size: 18px;
  padding: 19px 38px;
  border-radius: 30px;
  font-weight: 600;
}

.title_bg_gray {
  width: 575px;
  height: 76px;
  padding: 26px 0;
  padding-right: 50px;
  background-color: #EEF1F3;
  position: absolute;
  left: -220px;
  top: -25px;
  z-index: -1;
}

@media (max-width: 768px) {
  .title_bg_gray {
    width: 100%;
    left: 0;
    top: -15px;
  }
}
.main_parceiros {
  position: relative;
  top: -150px;
}
.main_parceiros .parceiro_cipa h2 {
  text-align: left;
  font: normal normal normal 22px/38px Montserrat;
  letter-spacing: -0.66px;
  color: #0B5CA8;
  background-color: #EEF1F3;
  padding: 26px 0px 23px 43px;
  text-transform: uppercase;
  font-weight: 600;
}
.main_parceiros .parceiro_cipa p {
  text-align: left;
  font: normal normal normal 16px/26px Montserrat;
  letter-spacing: 0px;
  color: #5A5858;
  font-weight: 600;
}

.main_boletos {
  position: relative;
  top: -150px;
}
.main_boletos .boleto_content_text {
  text-align: left;
  font: normal normal normal 20px/26px Montserrat;
  letter-spacing: 0px;
  color: #5A5858;
  font-weight: 600;
}
.main_boletos .boleto_content_demo .title_bg_gray {
  width: calc(100% + 20%);
  top: -20px;
}
.main_boletos .boleto_content_demo h2 {
  text-align: left;
  font: normal normal normal 22px/38px Montserrat;
  letter-spacing: -0.66px;
  color: #0B5CA8;
  font-weight: 600;
}
@media (max-width: 990px) {
  .main_boletos .boleto_content_demo h2 {
    background-color: #EEF1F3;
    padding: 26px 22px 23px;
  }
}

.main_debito {
  position: relative;
  top: -150px;
}
.main_debito .title_bg_gray {
  width: calc(100% + 30%);
  top: -20px;
}
.main_debito h2 {
  text-align: left;
  font: normal normal normal 22px/38px Montserrat;
  letter-spacing: -0.66px;
  color: #0B5CA8;
  font-weight: 600;
}
@media (max-width: 990px) {
  .main_debito h2 {
    background-color: #EEF1F3;
    padding: 26px 22px 23px;
  }
}
.main_debito .debito_description p {
  text-align: left;
  font: normal normal normal 20px/26px Montserrat;
  letter-spacing: 0px;
  color: #5A5858;
  font-weight: 600;
}
.main_debito .debito_button a {
  text-align: center;
  font: normal normal normal 22px/32px Montserrat;
  letter-spacing: -0.22px;
  color: #FFFFFF;
  font-weight: 600;
}
.main_debito .debito_obs {
  border: 1px solid #C4C3C3;
  border-radius: 22px;
}
.main_debito .debito_obs h3 {
  text-align: left;
  font: normal normal bold 20px/20px Montserrat;
  letter-spacing: 0px;
  color: #0A5BA6;
  margin-bottom: 20px;
}
.main_debito .debito_obs p {
  text-align: left;
  font: normal normal normal 16px/22px Montserrat;
  letter-spacing: 0px;
  color: #767474;
  margin-bottom: 25px;
  font-weight: 600;
}

.main_atualizacao_cadastro {
  position: relative;
  top: -150px;
}
.main_atualizacao_cadastro .title_bg_gray {
  width: calc(100% + 20%);
  top: -20px;
}
.main_atualizacao_cadastro h2 {
  text-align: left;
  font: normal normal normal 22px/38px Montserrat;
  letter-spacing: -0.66px;
  color: #0B5CA8;
  font-weight: 600;
}
@media (max-width: 990px) {
  .main_atualizacao_cadastro h2 {
    background-color: #EEF1F3;
    padding: 26px 22px 23px;
  }
}
.main_atualizacao_cadastro .cadastro_info p {
  text-align: left;
  font: normal normal normal 20px/26px Montserrat;
  letter-spacing: 0px;
  color: #5A5858;
  font-weight: 600;
}
.main_atualizacao_cadastro .cadastro_form input[type=text],
.main_atualizacao_cadastro .cadastro_form input[type=email] {
  height: 60px;
  background: #EBEBEB 0% 0% no-repeat padding-box;
  text-align: left;
  font: normal normal normal 18px/32px Montserrat;
  letter-spacing: -0.18px;
  color: #5A5858;
  padding: 19px 38px;
  margin-bottom: 20px;
  font-weight: 600;
}
.main_atualizacao_cadastro .cadastro_form .form_group_check {
  margin: 10px 0 30px;
}
.main_atualizacao_cadastro .cadastro_form .form_group_check input[type=radio] {
  width: 27px;
  height: 27px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 3px solid #8A856F;
  border-radius: 50%;
}
.main_atualizacao_cadastro .cadastro_form .form_group_check label {
  text-align: left;
  font: normal normal bold 20px/20px Montserrat;
  letter-spacing: 0px;
  color: #0A5BA6;
}

.main_duvidas {
  position: relative;
  top: -150px;
}
.main_duvidas .title_bg_gray {
  width: calc(100% + 20%);
  top: -20px;
}
.main_duvidas h2 {
  text-align: left;
  font: normal normal normal 22px/38px Montserrat;
  letter-spacing: -0.66px;
  color: #0B5CA8;
  font-weight: 600;
}
@media (max-width: 990px) {
  .main_duvidas h2 {
    background-color: #EEF1F3;
    padding: 26px 22px 23px;
  }
}
.main_duvidas .duvidas_accordion {
  width: 1580px;
}
.main_duvidas .duvidas_accordion .show_display,
.main_duvidas .duvidas_accordion .show_display button {
  background-color: #EEF1F3 !important;
  color: #0C60AF !important;
}
.main_duvidas .duvidas_accordion .rotate-show button img {
  animation: arrow 0.5s forwards;
}
@keyframes arrow {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
.main_duvidas .duvidas_accordion .card {
  border-radius: 0;
  border: 1px solid #BEC1C4;
}
.main_duvidas .duvidas_accordion .card .card-header {
  padding: 25px;
  background-color: #fff;
}
.main_duvidas .duvidas_accordion .card .card-header h2 {
  padding: 0;
  text-align: left;
  font: normal normal normal 20px/26px Montserrat;
  letter-spacing: 0px;
  color: #5A5858;
}
.main_duvidas .duvidas_accordion .card .card-header h2 button {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  border: none;
  background-color: #fff;
  color: #5A5858;
  font-weight: 600;
}
.main_duvidas .duvidas_accordion .card .card-header h2 button img {
  width: 23px;
  transform: rotate(90deg);
}
.main_duvidas .duvidas_accordion .card .card-header h2 button:hover {
  padding: 0;
  border: none;
  background-color: #fff;
}
.main_duvidas .duvidas_accordion .card .answer {
  background-color: #EEF1F3 !important;
}
.main_duvidas .duvidas_accordion .card .card-body {
  padding-left: 0;
  padding-right: 42px;
  font-weight: 600;
}
@media (max-width: 1580px) {
  .main_duvidas .duvidas_accordion {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .main_duvidas .duvidas_accordion {
    width: 80%;
  }
}

.main_contato .title_bg_gray {
  width: calc(100% + 50%);
  top: -20px;
}
.main_contato h2,
.main_contato h3 {
  text-align: left;
  font: normal normal normal 22px/38px Montserrat;
  letter-spacing: -0.66px;
  color: #0B5CA8;
  font-weight: 600;
}
@media (max-width: 990px) {
  .main_contato h2 {
    background-color: #EEF1F3;
    padding: 26px 22px 23px;
  }
}
.main_contato p {
  margin-bottom: 35px;
  text-align: left;
  font: normal normal normal 16px/26px Montserrat;
  letter-spacing: 0px;
  color: #5A5858;
  font-weight: 600;
}
.main_contato span {
  text-align: left;
  font: normal normal normal 22px/26px Montserrat;
  letter-spacing: 0px;
  color: #5A5858;
}
.main_contato span.contato_telefone {
  text-align: left;
  font: normal normal normal 28px/26px Montserrat;
  letter-spacing: 0px;
  color: #5A5858;
}
.main_contato input {
  height: 60px;
  background: #EBEBEB 0% 0% no-repeat padding-box;
  text-align: left;
  font: normal normal normal 18px/32px Montserrat;
  letter-spacing: -0.18px;
  color: #5A5858;
  padding: 19px 38px;
  margin-bottom: 20px;
  font-weight: 600;
}
.main_contato textarea {
  height: 277px;
  padding: 19px 38px;
  background: #EBEBEB 0% 0% no-repeat padding-box;
  border-radius: 37px;
  text-align: left;
  font: normal normal normal 18px/32px Montserrat;
  letter-spacing: -0.18px;
  color: #5A5858;
  font-weight: 600;
}
.main_contato input:hover,
.main_contato input:focus,
.main_contato input:active,
.main_contato textarea:hover,
.main_contato textarea:focus,
.main_contato textarea:active {
  background-color: #efefef !important;
}

.main_map {
  width: 100%;
  height: 650px;
  position: relative;
  bottom: -48px;
}

.main_newsletter {
  background: #0F4478 0% 0% no-repeat padding-box;
  width: 100%;
  height: auto;
}
.main_newsletter p {
  font-size: 22px;
  font-weight: 300;
  line-height: 30px;
  color: #fff;
  text-align: left;
}
.main_newsletter form .form-control {
  width: 100%;
  height: 68px;
  color: #fff;
  font-size: 15px;
  text-align: left;
  padding-left: 25px;
  background-color: #0E68BD;
  border: none;
}
.main_newsletter form .form-control:hover {
  background-color: #1574ce;
}
.main_newsletter form ::-webkit-input-placeholder {
  color: #fff;
}
.main_newsletter form :-moz-placeholder {
  color: #fff;
}
.main_newsletter form ::-moz-placeholder {
  color: #fff;
}
.main_newsletter form :-ms-input-placeholder {
  color: #fff;
}
.main_newsletter form button {
  position: absolute;
  top: 13px;
  right: 35px;
  width: 25px;
  height: 25px;
}

.main_page_inner {
  position: relative;
  top: -150px;
}
.main_page_inner .main_page_inner_title {
  background: transparent linear-gradient(182deg, #003568 0%, #147EE1 100%) 0% 0% no-repeat padding-box;
  text-align: left;
  color: #FFFFFF;
}
.main_page_inner .main_page_inner_title .main_page_sub_title {
  font-size: 22px;
  font-weight: 600;
}
.main_page_inner .main_page_inner_title .main_page_title {
  font-size: 45px;
  font-weight: 300;
}
.main_page_inner .main_page_inner_title .main_page_description {
  font-size: 16px;
  font-weight: 600;
}
.main_page_inner .line_page_title {
  width: 100%;
  height: 20px;
  transform: matrix(-1, 0, 0, -1, 0, 0);
  background: transparent linear-gradient(89deg, #ED086A 0%, #A54286 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
}
.main_page_inner .bg_page_title {
  width: 100%;
  height: 150px;
  background: transparent linear-gradient(178deg, #147EE1 0%, #003568 95%) 0% 0% no-repeat padding-box;
}

*, *:before, *:after {
  outline: none !important;
}

body {
  font-family: "Montserrat", sans-serif;
}

/*# sourceMappingURL=app.css.map */
