[class^=icon-]::before,
[class*=icon-]::before {
  position: relative !important;
  top: 0.125em !important;
  margin-right: 0.4em !important;
}

.icon-notext::before {
  top: 0;
  margin-right: 0 !important;
}

/*# sourceMappingURL=font-icon-reset.css.map */
