.main_header.bg_front {
  padding: 9px 0 11px;
  background: transparent linear-gradient(269deg, #0A58A3 0%, #052C52 100%) 0% 0% no-repeat padding-box;
}
.main_header.bg_front .customer_area label {
  font-size: 20px;
  font-weight: 600;
  color: #FBF7E1;
  text-align: left;
}
@media (max-width: 990px) {
  .main_header.bg_front .customer_area label {
    font-size: 15px;
  }
}
.main_header.bg_front .customer_area .account,
.main_header.bg_front .customer_area .services {
  max-width: 270px;
  width: 100%;
  height: 60px;
  background-color: #063A6D;
}
.main_header.bg_front .customer_area .account img,
.main_header.bg_front .customer_area .services img {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
.main_header.bg_front .customer_area .services img {
  transform: rotate(90deg);
}
.main_header.bg_front .customer_area .account:hover img,
.main_header.bg_front .customer_area .services:hover img {
  animation: show-box-down 0.3s forwards;
}
@keyframes show-box-down {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(270deg);
  }
}
.main_header.bg_front .customer_area .account.active,
.main_header.bg_front .customer_area .services.active {
  width: 90%;
  height: 180px;
  border-radius: 25px !important;
  background-color: #A20E27;
  position: absolute;
  top: -30px;
  box-shadow: 3px 3px 10px 2px;
  z-index: 3;
}
.main_header.bg_front .customer_area .account.active a,
.main_header.bg_front .customer_area .account.active button,
.main_header.bg_front .customer_area .services.active a,
.main_header.bg_front .customer_area .services.active button {
  padding: 11px 28px;
  text-align: left;
  line-height: 100%;
  font-weight: 600;
  font-size: 16px;
  background-color: transparent;
  border-color: transparent;
}
.main_header.bg_front .customer_area .account.active a:hover,
.main_header.bg_front .customer_area .services.active a:hover {
  background-color: #C4112F;
  border-color: #C4112F;
}
.main_header.bg_front .customer_area .account.active a span,
.main_header.bg_front .customer_area .services.active a span {
  font-size: 8px;
}
.main_header.bg_front .customer_area .account.active {
  background-color: #0c559b;
}
.main_header.bg_front .customer_area .account button,
.main_header.bg_front .customer_area .services a {
  width: 200px;
  height: 60px;
  padding: 0px 60px 8px 20px;
  font-size: 20px;
  line-height: 91%;
  font-weight: 600;
}
.main_header.bg_front .customer_area .services a {
  padding-left: 0;
  padding-right: 0;
  padding: 19px 0 19px 0;
}
.main_header.bg_front .customer_area span {
  font-size: 13px;
  text-align: left;
  color: #FBF7E1;
  font-weight: 600;
}

@media (max-width: 768px) {
  .account.active,
.services.active {
    position: relative !important;
    top: 0 !important;
  }
}

/*# sourceMappingURL=header.css.map */
