.main_menu {
  background-color: #fff;
  border-bottom-left-radius: 200px;
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;
}

.main_menu_search input {
  height: 60px;
  border-radius: 30px;
  background-color: #ebebeb;
  box-sizing: border-box;
  padding: 0 38px;
  font-weight: 600;
}
.main_menu_search input:focus {
  border-color: transparent;
  box-shadow: none;
  background-color: #efefef;
}
.main_menu_search button {
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  width: 60px;
  background-color: #ebebeb;
  border: 1px solid #ced4da;
  border-left: none;
}
.main_menu_search button:hover,
.main_menu_search .btn-outline-secondary:not(:disabled):not(.disabled):active {
  background-color: #efefef;
  border: 1px solid #efefef;
  border-left: none;
}
.main_menu_search button i {
  font-size: 20px;
  color: #0B5FAD;
}

.main_menu_navbar ul li a {
  color: #5A5858 !important;
  font-size: 17px;
  text-align: left;
  text-decoration: none;
  padding-right: 0.4rem !important;
  padding-left: 0.5rem !important;
  font-weight: 600;
}
.main_menu_navbar ul li.active,
.main_menu_navbar ul li:active,
.main_menu_navbar ul li:hover {
  box-shadow: 0 8px 0 0 #003874;
}
.main_menu_navbar ul li.active a .nav-link,
.main_menu_navbar ul li:hover a .nav-link {
  color: #003874 !important;
  font-weight: bold;
}
.main_menu_navbar .dropdown:hover > .dropdown-menu {
  display: block;
}
.main_menu_navbar .dropdown-menu {
  width: 250px;
  background-color: #003567;
  box-shadow: 3px 3px 10px 2px;
}
.main_menu_navbar .dropdown-menu .dropdown-item {
  color: #fff !important;
  font-weight: bold;
  font-size: 14px;
  padding: 0.5rem 1.5rem;
}
.main_menu_navbar .dropdown-menu .dropdown-item:hover {
  background-color: #00478a;
  color: #fff;
}
.main_menu_navbar .dropdown-menu .dropdown-divider {
  border-top: 2px solid #004483;
  margin: 0;
}

@media (max-width: 1200px) {
  .main_menu {
    border-bottom-left-radius: 0;
  }
  .main_menu .main_menu_logo img {
    width: 100%;
  }
}
@media (max-width: 990px) {
  .main_menu_navbar ul li a {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .main_menu_navbar {
    position: absolute;
    background: white;
    width: 100%;
    top: -30px;
    padding: 30px;
    z-index: 2;
  }
}
@media (max-width: 550px) {
  .main_menu_navbar {
    box-shadow: 0px 0px 15px 0px #000;
  }
  .main_menu_navbar ul li:hover {
    box-shadow: none;
  }
  .main_menu_navbar .dropdown-menu {
    width: 100%;
  }
}

/*# sourceMappingURL=menu.css.map */
